<div class="card" style="width: 100%;">
    <div class="col-sm-1 offset-md-1">
      <img style="width: 100%; padding: top 10px;" src="{{image_url}}" alt="Card image cap">
    </div>

      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h5 class="card-title">{{tagline}}</h5>
        <p class="card-text">{{description}}</p>
      </div>
 </div>

