<div>
      <img class="centrado"  src="/images/beer.png" alt="Card image cap">  
</div>
        
<div class="centratext">
    <h2 class="card-title">Beers</h2>
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
</div>
<div class="centratext">
    <br>
     <a href="/randombeer"class="btn btn-primary">Check a Random Beer</a>
</div>